main {

  /*
  width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  /* min-height: calc(100vh - 211px - 58px); */
  
  display: flex;
	justify-content: center;
	padding-top: 130px;
	padding-bottom: 40px;
  min-height: calc(100vh - 72px);
  width: 960px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile-image {
  display: flex;
	justify-content: center;
  /*
  margin-right: 20px;
  */    
}

.image {
  width: 100%;
	height: auto;
	max-width: 200px;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

article h2 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  padding-top: 20px;
  color: #4aaaa5;
}

article {
  display: block;
  margin-left: auto;
  margin-right: auto;
    
    /* This code is reserve for HW2
    float: left;
    */ 
}

